@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Lato";
  src: url("./assets/fonts/Lato-Regular.ttf");
}

@font-face {
  font-family: "Lato Bold";
  src: url("./assets/fonts/Lato-Bold.ttf");
}

::-webkit-scrollbar {
  width: 13px;
}

::-webkit-scrollbar-track {
  background: #fff;
  margin-bottom: 5px;
  border-right: 5px solid transparent;
  border-radius: 6px;
}

::-webkit-scrollbar-thumb {
  background-color: #4b4a4a;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
  background-clip: padding-box;
  border-radius: 5px;
}